html,
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(rgb(194 201 216 / 0%), rgb(98 133 207 / 0%));
}

.spawn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100vw;
    overflow: hidden;
    right: auto;
}

.spawn-container {
    display: flex;
    align-items: center;
    min-height: 475px;
    width: 90vw;
    min-width: 280px;
    background-color: #3d3f4200;
    box-shadow: inset 0px 0px 35px transparent;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    height: 31vh;
    max-width: 24vh;
    min-width: 24vh;
    margin: 0px 2vw;
    background: #20262c;
    box-shadow: 0px 0px 25px #a7aaaf;
    transition: transform 0.2s;
    border-radius: 11px;
}

.card-img{
    background: rgb(27 28 28);
    min-height: 12.5vh;
    background-size: cover;
    cursor: pointer;
}

.card-title{
  padding: 0px 0px 0px 0px;
  margin-bottom: -20px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.28vh;
  text-align: center;
}

.card-text{
    padding: 0px 20px 0px 20px;
    color: #a2a6ab;
    font-style: oblique;
    font-size: 1.3vh;
    text-align: -webkit-center;
}

.card-btn{
    border: none;
    color: white;
    text-align: center;
    background-color: rgb(23 27 30);
    margin:
    auto 20px 20px 20px;
    padding: 15px;
    cursor: pointer;
    -webkit-text-stroke: thin;
    text-transform: uppercase;
}

.card-mover-btn{
    position: absolute;
}

.prev-cont{
    margin-right: 91.7%;
}

.next-cont{
    margin-left: 88.7%;
}

.btn{
    font-size: 50px;
    color: white;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(101, 101, 101, 0.722);
}

#lastloccontainer {
    position: absolute;
    top: 5%;
    right: 2%;
}

#lastloc {
    padding: 20px;
    width: 200px;
    font-size: medium;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 7px;
    box-shadow: 0px 0px 15px #a7aaaf;
}